.two-column-container {
  display: flex;
  gap: 32px;
  justify-content: flex-start;
  align-items: flex-start;
}

.column {
  flex: 1;
  min-width: 250px;
}

.title {
    color: green;
}
.test-formatting {
    align-content: center;
    color:aqua
}